@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Kumbh Sans", sans-serif;
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-vark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --opacity-color: rgba(0, 0, 0, 0.7);
}
#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  border: none;
  border-bottom: 1px solid rgba(104, 112, 125, 0.2);
  margin: 0 auto;
  height: 85px;
}

.left-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-family: var(--main-font-family);
}

.logo {
  margin-right: 30px;
}
.nav-links ul li {
  padding: 0 15px;
}

li {
  display: inline;
}
.avatar {
  width: 40px;
  margin-left: 30px;
}
.cart {
  padding-bottom: 9px;
}

/* main container styles */
.container {
  /* border: 1px solid red; */
  width: 68%;
  height: 80vh;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* left container images */
.left-container {
  /* border: 1px solid blue; */
  width: 45%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.upper-image {
  background-image: url("/ecommerce-product-page-main/images/image-product-1.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 80%;
  margin: 0 auto;
  position: relative;
  border-radius: 13px;
}
.lower-image {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  position: relative;
  /* border: 1px solid black; */
}
.small-images {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  cursor: pointer;
}
.small-images > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  outline: 0;
}
.active {
  border: 2px solid var(--orange);
  opacity: 0.5;
  border-radius: 10px;
}
/* right container content */
.right-container {
  /* border: 1px solid green; */
  width: 45%;
  height: 100%;
  position: relative;
}
.content-container {
  width: 100%;
  height: 80%;
  /* border: 1px solid black; */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}
.title h4 {
  color: var(--orange);
  font-size: 12px;
  letter-spacing: 1px;
}
.heading h1 {
  color: var(--very-vark-blue);
  font-size: 38px;
}
.main-para p {
  color: var(--dark-grayish-blue);
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}
.one-line {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-bottom: 6px;
}
.price h2 {
  color: var(--very-vark-blue);
  font-weight: 700;
}
.price h4 {
  border: 1px solid var(--pale-orange);
  margin: auto 0;
  background-color: var(--pale-orange);
  color: var(--orange);
  border-radius: 4px;
  padding: 0 5px;
}
.price h5 {
  color: var(--grayish-blue);
  text-decoration: line-through;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid yellow; */
  width: 35%;
  background-color: var(--light-grayish-blue);
  border-radius: 7px;
  padding: 14px;
}
.left-bar .minus {
  width: 10px;
  height: 5px;
}
.left-bar .plus {
  width: 13px;
  height: 12px;
}
.left-bar h4 {
  margin: auto 0;
}
.right-bar {
  background-color: var(--orange);
  width: 55%;
  padding: 14px;
  border-radius: 7px;
  color: var(--white);
  text-align: center;
  cursor: pointer;

  display: flex;
  justify-content: center;
}
.right-bar img {
  color: var(--white);
  width: 19px;
  height: 19px;
  margin-right: 14px;
}
.modal {
  width: 400px;
  height: 500px;
  /* border: 1px solid red; */
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal.actives {
  transform: translate(-50%, -50%) scale(1);
  pointer-events: all;
}
.up-image {
  width: 100%;
  height: 80%;
  /* border: 1px solid green; */
  background-image: url("/ecommerce-product-page-main/images/image-product-1.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.low-images {
  margin: 0 auto;
  width: 80%;
  /* border: 1px solid blue; */
  height: 15%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--opacity-color);
  opacity: 0;
  pointer-events: none;
}
.overlay.actives {
  pointer-events: all;
  opacity: 1;
}
.low-images > .small-images {
  width: 66px;
  height: 66px;
}
